* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #808080;
  font-size: 16px;
}

li {
  display: inline-block;
}

/* TYPOGRAPHY */
a {
  text-decoration: none;
  color: #ffffff;
}

/* UTILITY */

.container {
  width: 1300px;
  margin:0 auto;
  background: red;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

/* HEADER */

header {
  height: 600px;
  background: #0c325a;
}

.logo-top {
  width: 15%;
}

.top-sx {
  width: 50%;
}

.top-dx {
  width: 35%;
}
