* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #808080;
  font-size: 16px;
}

li {
  display: inline-block;
}

/* TYPOGRAPHY */
a {
  text-decoration: none;
  color: #ffffff;
}

.font-header a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 15px;
}

.background {
  background: #ffffff;
  height: 800px;
  padding: 0 15px;
}

/* UTILITY */

.container {
  width: 1300px;
  margin:0 auto;
  padding: 15px 0 15px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.btn-green {
  background-color: #7cbb02;
  border: none;
}

.btn-large {
  padding: 20px 30px;
  text-transform: uppercase;
  font-size: 20px;
}

.w50 {
  width: 50%;
}

.barra-orizz {
  height: 200px;
  background-color: #d3d3d3;
  padding: 30px 0;
}

.colonna {
  height: 600px;
  width: calc(100% / 3);
  background: green;
}
/* HEADER */

header {
  height: 800px;
  background: #0c325a;
  background-image: url('../img/background-header.png');
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
}

.logo-top {
  line-height: 80px;
  width: 15%;
  vertical-align: middle;
}

.top-sx {
  line-height: 40px;
  width: 45%;
  padding: 15px;
  text-align: left;
}

.top-dx {
  line-height: 40px;
  width: 40%;
  padding: 15px;
  padding-right: 0;
  text-align: right;
}

.top-dx .btn:first-child {
  margin:0 10px 0;
}

/* JUMBOTRON */

.jumbotron {
  margin-bottom: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron h1 {
  color: #ffffff;
  font-size: 50px;
  margin-bottom: 50px;
}

/* MAIN BARRA ORIZZANTALE GRIGIA*/

.info h2 {
  font-size: 30px;
  color: black;
  margin-bottom: 30px;
}
